<div
  (contextmenu)="onRightClick($event)"
  [ngClass]="
    done
      ? 'td-bg-slate-700 td-text-slate-400 td-line-through'
      : 'td-bg-slate-50 td-text-slate-600 hover:td-bg-slate-100'
  "
  class="td-flex td-select-none td-items-center td-gap-4 td-rounded-lg td-border td-px-4 td-py-2"
>
  <fa-icon
    class="td-cursor-pointer td-text-slate-400"
    (click)="onToggle()"
    [icon]="done ? icons.done : icons.active"
  ></fa-icon>
  <div class="td-select-none td-text-lg">{{ taskName }}</div>
  <fa-icon
    class="td-ml-auto td-cursor-pointer"
    (click)="onDelete()"
    [icon]="icons.delete"
  ></fa-icon>
</div>
