<div class="td-flex td-flex-col td-items-center td-text-xl">
  <div
    class="td-flex td-cursor-pointer td-gap-2 td-rounded-lg td-px-4 td-py-2 hover:td-bg-cyan-100"
  >
    <div>🧭</div>
    <div class="td-text-gray-700">Today</div>
  </div>
  <div
    class="td-flex td-cursor-pointer td-gap-2 td-rounded-lg td-px-4 td-py-2 hover:td-bg-cyan-200"
  >
    <div>🧭</div>
    <div class="td-text-gray-700">Today</div>
  </div>
  <div
    class="td-flex td-cursor-pointer td-gap-2 td-rounded-lg td-px-4 td-py-2 hover:td-bg-cyan-200"
  >
    <div>🧭</div>
    <div class="td-text-gray-700">Today</div>
  </div>
</div>
